<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Chi tiết dự án</title>
    <base href="http://localhost:3000" />
    <script src="./addMembers.js"></script>
    <style>
        #tbList {margin: 20px;}
        #number {width: 50px;}
    </style>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1>
            Thêm thành viên
        </h1>
        <div>
            <text>Số lượng thành viên dự án <%= project.name%> đăng ký </text>
        </div>
        <div>
            <form action='/project/addToProject' method='POST'>
                <div class="mb-3">
                    <label for="inputLeader" class="form-label">Leader</label>
                    <table>
                      <tr>
                        <td>
                          <select id="leader" class="form-select" aria-describedby="leaderHelp">
                            <% if(employee.length){ for(var i=0; i< employee.length; i++) {%>
                              <option>
                                <%= employee[i].name%>
                              </option>
                              <% }} %>
                          </select>
                        </td>
                        <td>
                          <input class="form-control" id="memEmail" value="Email" readonly>
                        </td>
                      </tr>
                    </table>
                    <div id="leaderHelp" style="margin-bottom: 10px;" class="form-text">Chọn Leader của dự án</div>
                  </div>
                <button id="btnSubmit" type="submit" class="btn btn-primary">Xác nhận</button>
            </form>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>