<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <title>Tạo dự án mới</title>
    <base href="http://localhost:3000" />
    <script src="./projectCreate.js"></script>
    <style>
      #project-create-form {margin: 20px; }
      #leader, #leaderEmail, #numberOfMember {width: 200px; height: auto; margin-bottom: 5px; }
      #listMember {margin-bottom: 10px;}
      #numberOfMemberHelp {margin-bottom: 20px;}
      #loading {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
      }
      #loading-image {
        z-index: 100;
      }
    </style>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div id="loading">
      <img id="loading-image" src="https://plecevo.eu/i/simple_loading.gif" alt="Loading..." />
    </div>
    <div id="project-create-form">
      <h1>Tạo dự án mới</h1>
      <form>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputName" placeholder="example" aria-describedby="nameHelp">
            <label for="inputName" class="form-label">Tên dự án</label>
            <div id="nameHelp" class="form-text">Lựa chọn tên cho dự án khởi tạo</div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" id="inputClient" class="form-control" placeholder="example" aria-describedby="clientHelp">
            <label for="inputClient" class="form-label">Tên khách hàng</label>
            <div id="clientHelp" class="form-text">
            Cung cấp tên khách hàng của dự án
            </div>
          </div>
          <div class="mb-3">
            <label for="inputLeader" class="form-label">Leader</label>
            <table>
              <tr>
                <td>
                  <select id="leader" class="form-select" aria-describedby="leaderHelp">
                    <option> Lựa chọn </option>
                    <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                      <option>
                        <%= data[i].name%>
                      </option>
                      <% }} %>
                  </select>
                </td>
                <td>
                  <input class="form-control" id="leaderID" value="ID" readonly>
                </td>
              </tr>
            </table>
            <div id="leaderHelp" style="margin-bottom: 10px;" class="form-text">Chọn Leader của dự án</div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" id="inputBudget" class="form-control" placeholder="example" aria-describedby="budgetHelp">
            <label for="inputBudget" class="form-label">Ngân sách Token</label>
            <div id="budgetHelp" class="form-text">
            Nhập số lượng Token thưởng của dự án
            </div>
          </div>
          <div class="mb-3">
            <label for="mem1" class="form-label">Thành viên thứ 1</label>
            <table>
              <tr>
                <td>
                  <select id="mem1" class="form-select" aria-describedby="leaderHelp">
                    <option> Lựa chọn </option>
                    <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                      <option>
                        <%= data[i].name%>
                      </option>
                      <% }} %>
                  </select>
                </td>
                <td>
                  <input class="form-control" id="mem1ID" value="ID" readonly>
                </td>
              </tr>
            </table>
            <div id="leaderHelp" style="margin-bottom: 10px;" class="form-text">Chọn thành viên thứ 2 của dự án</div>
          </div>
          <div class="mb-3">
            <label for="mem2" class="form-label">Thành viên thứ 2</label>
            <table>
              <tr>
                <td>
                  <select id="mem2" class="form-select" aria-describedby="leaderHelp">
                    <option> Lựa chọn </option>
                    <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                      <option>
                        <%= data[i].name%>
                      </option>
                      <% }} %>
                  </select>
                </td>
                <td>
                  <input class="form-control" id="mem2ID" value="ID" readonly>
                </td>
              </tr>
            </table>
            <div id="leaderHelp" style="margin-bottom: 10px;" class="form-text">Chọn thành viên thứ 2 của dự án</div>
          </div>
          <div class="mb-3">
            <label for="mem3" class="form-label">Thành viên thứ 3</label>
            <table>
              <tr>
                <td>
                  <select id="mem3" class="form-select" aria-describedby="leaderHelp">
                    <option> Lựa chọn </option>
                    <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                      <option>
                        <%= data[i].name%>
                      </option>
                      <% }} %>
                  </select>
                </td>
                <td>
                  <input class="form-control" id="mem3ID" value="ID" readonly>
                </td>
              </tr>
            </table>
            <div id="leaderHelp" style="margin-bottom: 10px;" class="form-text">Chọn thành viên thứ 3 của dự án</div>
          </div>
          <button id="btnSubmit" type="submit" class="btn btn-primary">Xác nhận</button>
        </form>
  </div>
    
  </main>
</body>
</html>