<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Chi tiết dự án</title>
    <base href="http://localhost:3000" />
    <script src="./projectDetail.js"></script>
    <style>
        #detail {margin: 20px;}
        #projectID, #leader {width: auto;}
    </style>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div id="detail">
            <h1> Chi tiết dự án </h1> 
            <table class="table">
                <tr>
                    <th scope="col"> ID </th>
                    <td scope="row">
                        <input class="form-control" id="projectID" value="<%= data._id%>" readonly>
                    </td>
                </tr>
                <tr>
                    <th scope="col"> Ngày khởi tạo </th>
                    <td scope="row"><%= data.date%></td>
                </tr>
                <tr>
                    <th scope="col"> Tên dự án </th>
                    <td scope="row"><%= data.name%></td>
                </tr>
                <tr>
                    <th scope="col"> Khách hàng </th>
                    <td scope="row"><%= data.client%></td>
                </tr>
                <tr>
                    <th scope="col"> Leader </th>
                    <td scope="row"><%= data.leader%></td>
                    
                </tr>
                <tr>
                    <th scope="col"> Thành viên </th>
                    <% if(data.listMembers.length){
                
                        for(var i = 0; i< data.listMembers.length; i++) {%>
                            <tr>
                                <td scope="row"> #<%= (i+1) %> </td>
                                <td scope="row"><%= data.listMembers[i]%></td>
                            </tr>
                            
                    <% }
                
                    }else{ %>
                        <td colspan="3">Chưa có thành viên</td>
                        <% } %>
                </tr>
                <tr>
                    <th scope="col"> Ngân sách </th>
                    <td scope="row">
                        <text>
                            <%= data.budget%> PMC
                        </text>    
                    </td>
                </tr>
            </table>
            <a href="/task">
                <button type="button" class="btn btn-primary"> Quản lý công việc </button>
            </a>
            <a href="/project/finish/<%= data._id%>">
                <button type="button" class="btn btn-primary">
                    Hoàn thành
                </button>
            </a>
            
                <button id="btnDelete" type="button" class="btn btn-primary">
                    Xoá
                </button>
                
            
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>