<!DOCTYPE html>
<html lang="en">
<style>
.center-parent {
  text-align: center;
}
</style>
<head>
    <%- include('../partials/head'); %>
    <title>Dự án đã hoàn thành</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <%- include('../partials/project/sidenav'); %>
        <h1 class="center-parent"> Dự án đã hoàn thành</h1>
        <div class="center-parent">
            <a href="/project/create">
                <button type="button" class="btn btn-primary">
                    Tạo dự án mới
                </button>
            </a>
            <a href="/project/list">
                <button type="button" class="btn btn-primary">
                    Dự án đang thực hiện
                </button>
            </a>
        </div>
        <div>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên dự án</th>
                        <th scope="col">Khách hàng</th>
                        <th scope="col">Số thành viên</th>
                        <th scope="col">Ngân sách</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                <% if(data.length){
                
                for(var i = 0; i< data.length; i++) {%>  
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].name%></td>
                    <td><%= data[i].client%></td>
                    <td><%= data[i].numberOfMembers%></td>
                    <td><%= data[i].budget%></td>
                    <td>
                        <a href="/project/finished/<%= data[i]._id%>" > 
                            <button class="btn btn-primary">Chi tiết</button>
                        </a>
                    </td>
                </tr>
                <% }
                        
                }else{ %>
                    <tr>
                        <td colspan="3">No project</td>
                    </tr>
                    <% } %>    
                
                </tbody>
            </table>
            
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>