<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <title>Quản lý công việc</title>
    <base href="http://localhost:3000" />
    <style>
        #detail {margin: 20px;}
        #projectID, #leader, #numberMember {width: auto;}
    </style>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
<main>
  <h1> Quản lý công việc</h1>
  <table id="infoTable" class="table">
    <tr>
        <th scope="col"> ID dự án </th>
        <td scope="row">
            <input class="form-control" id="projectID" value="<%= id%>" readonly>
        </td>
    </tr>
  </table>

  <h2> Danh sách task</h2>
  <div>
    <br>
      <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên task</th>
                <th scope="col">Điểm</th>
                <th scope="col">Thành viên</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          <% if(data.length){
                
            for(var i = 0; i< data.length; i++) {%>  
            <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= data[i].name%></td>
                <td><%= data[i].point%></td>
                <td><%= data[i].employee%></td>
                <td>
                    <a href="/project/<%= data[i]._id%>" > 
                        <button class="btn btn-primary">Chi tiết</button>
                    </a>
                </td>
            </tr>
            <% }
                    
            }else{ %>
                <tr>
                    <td colspan="3">No task</td>
                </tr>
                <% } %>
        </tbody>
      </table>
  </div>
  <a href="/project/createTask/<%=id%>">
    <button id="addTask" class="btn btn-primary" > Thêm task </button>
  </a>

</main>

  </script>